FD3-React-V4-master/
.idea/
ishop3/node_modules/
RainbowFrame/node_modules/
br2jsx/node_modules/
Mobile/node_modules/
Mobile/__tests__/__snapshots__
FD3-TypeScript-V4
FD3-Angular-V4


Sprite/dist
Sprite/tmp
Sprite/out-tsc

# dependencies
Sprite/node_modules

# profiling files
Sprite/chrome-profiler-events.json
Sprite/speed-measure-plugin.json

# IDEs and editors
Sprite/.idea
Sprite/.project
Sprite/.classpath
Sprite/.c9/
Sprite/*.launch
Sprite/.settings/
Sprite/*.sublime-workspace

# IDE - VSCode
Sprite/.vscode/*
!Sprite/.vscode/settings.json
!Sprite/.vscode/tasks.json
!Sprite/.vscode/launch.json
!Sprite/.vscode/extensions.json
Sprite/.history/*

# misc
Sprite/.sass-cache
Sprite/connect.lock
Sprite/coverage
Sprite/libpeerconnection.log
Sprite/npm-debug.log
Sprite/yarn-error.log
Sprite/testem.log
Sprite/typings

# System Files
Sprite/.DS_Store
Sprite/Thumbs.db




Numword/dist
Numword/tmp
Numword/out-tsc

# dependencies
Numword/node_modules

# profiling files
Numword/chrome-profiler-events.json
Numword/speed-measure-plugin.json

# IDEs and editors
Numword/.idea
Numword/.project
Numword/.classpath
Numword/.c9/
Numword/*.launch
Numword/.settings/
Numword/*.sublime-workspace

# IDE - VSCode
Numword/.vscode/*
!Numword/.vscode/settings.json
!Numword/.vscode/tasks.json
!Numword/.vscode/launch.json
!Numword/.vscode/extensions.json
Numword/.history/*

# misc
Numword/.sass-cache
Numword/connect.lock
Numword/coverage
Numword/libpeerconnection.log
Numword/npm-debug.log
Numword/yarn-error.log
Numword/testem.log
Numword/typings

# System Files
Numword/.DS_Store
Numword/Thumbs.db

Cinema/dist
Cinema/tmp
Cinema/out-tsc

# dependencies
Cinema/node_modules

# profiling files
Cinema/chrome-profiler-events.json
Cinema/speed-measure-plugin.json

# IDEs and editors
Cinema/.idea
Cinema/.project
Cinema/.classpath
Cinema/.c9/
Cinema/*.launch
Cinema/.settings/
Cinema/*.sublime-workspace

# IDE - VSCode
Cinema/.vscode/*
!Cinema/.vscode/settings.json
!Cinema/.vscode/tasks.json
!Cinema/.vscode/launch.json
!Cinema/.vscode/extensions.json
Cinema/.history/*

# misc
Cinema/.sass-cache
Cinema/connect.lock
Cinema/coverage
Cinema/libpeerconnection.log
Cinema/npm-debug.log
Cinema/yarn-error.log
Cinema/testem.log
Cinema/typings

# System Files
Cinema/.DS_Store
Cinema/Thumbs.db


SpriteBg /dist
SpriteBg /tmp
SpriteBg /out-tsc

# dependencies
SpriteBg /node_modules

# profiling files
SpriteBg /chrome-profiler-events.json
SpriteBg /speed-measure-plugin.json

# IDEs and editors
SpriteBg /.idea
SpriteBg /.project
SpriteBg /.classpath
SpriteBg /.c9/
SpriteBg/*.launch
SpriteBg/.settings/
SpriteBg/*.sublime-workspace

# IDE - VSCode
SpriteBg/.vscode/*
!SpriteBg/.vscode/settings.json
!SpriteBg/.vscode/tasks.json
!SpriteBg/.vscode/launch.json
!SpriteBg/.vscode/extensions.json
SpriteBg/.history/*

# misc
SpriteBg/.sass-cache
SpriteBg/connect.lock
SpriteBg/coverage
SpriteBg/libpeerconnection.log
SpriteBg/npm-debug.log
SpriteBg/yarn-error.log
SpriteBg/testem.log
SpriteBg/typings

# System Files
SpriteBg/.DS_Store
SpriteBg/Thumbs.db